*
!src
!.gitignore
!*.py
!*.sh
!shell.nix
!alt
!*.ml
!.ocp-indent
!test
alt/test/test
!hs
!*.hs
!demo
!*.R
!.stan
!data
!model
*.data.R
demo/model/model
!.lintr
!*.stan
!toy
demo/toy/model
!slides
!css
!js
!*.html
!*.css
!*.js
alt/index.html
!imgs
!*.png
demo/toy/output.png
demo/toy/model.png
